.containerTimer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 400px;
    /* background-color:aquamarine ; */
    padding: 40px 0;
    border: .5px solid black;
    margin: 30px 0;
}
.containerTimer>h3{
font-size: 25px;
font-weight: 200;
}
.containerTimer>button{
width: fit-content;
padding: 10px 20px;
font-size: 15px;
margin-bottom: 30px;
background-color: red;
color: white;
border-radius: 5px;
border: none;
}



.containerCustomRange{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: 100px; */
    width: 400px;
    /* background-color:aquamarine ; */
    padding: 20px 0;
    border: .5px solid black;
    margin: 30px 0;
}
.containerCustomRange>h2{
    font-size: 25px;
    font-weight: 200;
}
.containerCustomRange>input{
padding: 5px 10px;
margin-bottom: 20px;
border-radius: 3px;
border: .5px solid black;
font-size: 15px;
}
.containerCustomRange>button{
margin-top: 10px;
padding: 10px 15px;
font-size: 15px;
border: none;
background-color: rgb(0, 81, 231);
border-radius: 5px;
color: white;
}

/* Peace Timer */

.containerTimer{
    width: 400px;
    background-color: white;
    border: none;
    height: max-content;
}
.headerTimer{
    background-color: rgb(26, 146, 244);
    padding-top:50px;
}
.h1andP{
    border-radius: 15px 15px 0 0 ;
    background-color: white;
    padding: 15px 10px 10px;
}
.h1andP h1{
margin-top: 0px;
font-weight: 300;
padding: 0 10px;

}
.h1andP p{
font-size: 18px;
padding: 10px;
}
.contentBtn{
    /* padding: 0 10px; */
    background-color: rgb(91, 226, 181);
    padding-bottom: 50px;
}
.contentItem{
    background-color: white;
    border-radius: 0 0 15px 15px;
    padding-bottom: 20px;
}
.contentBtn h2{
margin-top: 0px;
padding-top: 15px;
font-weight: 600;
font-size: 23px;
background-color: white;
}
.buttons{
    padding: 10px 20px 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.buttons>button{
    height: 70px;
    width: 80px;
    align-items: center;
    text-align: center;
    background-color: rgb(26, 146, 244);
    border: none;
    border-radius: 10px;
    color: white;
}



.bgContainer{
background-image: url("https://img.freepik.com/free-vector/beautiful-landscape-architecture-painting-tree-design_1035-27089.jpg");
height: 450px;
width: 600px;
position: relative;
background-repeat: no-repeat;
margin: 20px 0;

}
.text-content{
    text-align: center;
    position: absolute;
    top: 40%;
    left: 40%;
}
.text-content>h3{
font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serifs;
color: rgb(0, 72, 19);
font-size: 28px;
}


/* Bomb Defuser */

.bombContainer{
    margin: 20px 0;
    /* background-color: rgb(0, 146, 231); */
padding: 20px;
display: flex;
flex-direction: column;
align-items: center;
width: 400px;

}
.bombContainer{
margin-bottom: 10px;
}
.imgBomb{
    height: 200px;
width: 200px;
}

.defuser{
    width: 200px;
    margin-top: 15px;
    margin-bottom: 25px;
    font-size: 20px;
    border: .5px solid rgb(190, 190, 190);
}

.bombContainer > p{
font-size: 28px;
font-weight: 500;
}